<footer class="section footer-classic context-dark bg-image" style="background: #ec1e7b;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4">
          <h5>Contacto</h5>
          <dl class="contact-list">
            <dt>Direccion:</dt>
            <dd>Lamarque 3986, Cipolletti, Rio Negro</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">acrespin282@gmail.com</a></dd>
          </dl>
        </div> <div class="col-md-4">
          </div>
        <div class="col-md-4 col-xl-3">
          <h5>Links</h5>
          <ul class="nav-list">
            <li><a href="abigail">Abigail</a></li>
            <li><a href="familia">Familia</a></li>
            <li><a href="logros">Logros</a></li>
            <li><a href="trabajos">Trabajos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="https://www.facebook.com/profile.php?id=100079705234647"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.instagram.com/abi_crespin08/?hl=es"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    </div>
  </footer>